# .vscode*
__pycache__/
*MUJOCO_LOG.TXT

# Ignore Python cache directories
__pycache__/
**/__pycache__/
*.py[cod]

output/*
!output/learn_shadow
!output/learn_allegro
!output/learn_leap_tac3d

assets/object
debug*

third_party/pytorch_kinematics
third_party/utils_python