# .vscode*
__pycache__/
*MUJOCO_LOG.TXT

# Ignore Python cache directories
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.ruff_cache/
.coverage

output/*
!output/learn_shadow
!output/learn_allegro
!output/learn_leap_tac3d
output/learn_*/log/

assets/object
debug*
